<main>
<section id="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- <h4 class="text-center">KAKALOCAL</h4> -->
				<h1 class="intro-text">Discover Local</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-offset-4 col-sm-4">
				<div class="col-sm-offset-1 col-sm-10">
					<div class="search">
						<div class="search-container">
							<form id="search-form">
								<input name="search" type="text" id="tokenize" id="destination" placeholder="Where do you want to go?" autocomplete="off">
							</form>
							<div id="results"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</main>